<html>

  <head>
    <title>Tomato Time!</title>
    <meta charset="UTF-8">
    <link href="/stylesheets/pomodoro.css" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/timer.js"></script>
  </head>
  
  
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <div class="container">
      <% if request.path == '/' %>
        <div class="sidebar">
          <%= yield_content :sidebar %>
        </div>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
    </div>

  </body>
  <footer>
    <% unless request.path == '/login' || '/' %>
        <h4> Done for now?</h4>
          <form method="get" action="/logout">
            <button type="submit">Log Out</button>
          </form>
      <% end %>
  </footer>
</html>