body {
  padding: 1em;
  font-family: sans-serif;
}

.message {
  padding: 10px;
  background: #f13c3c;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f13c3c;
  padding: 20px;
  margin-right: 20px;
}

.content {
  flex: 1;
}